.drax {
  background: #0a0a0a;
  padding: 192px 0 230px 0;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  @media (max-width: 1600px) {
    padding: 262px 159px 101px 159px;
  }
  @media (max-width: 1500px) {
    padding: 262px 0 101px 0;
  }

  @media (max-width: 1280px) {
    padding: 97px 0 76px 0;
  }
  @media (max-width: 700px) {
    padding: 65px 0 60px 0;
  }

  z-index: 2;
  &::after {
    position: absolute;
    content: "";
    border-radius: 790px;
    background: #c19559;
    width: 790px;
    height: 100px;
    filter: blur(305.5px);
    left: -492px;
    top: 453px;
    @media (max-width: 1280px) {
      width: 193px;
      height: 246px;
      top: 85px;
      left: -95px;
    }
    @media (max-width: 700px) {
      width: 151px;
      height: 192px;
      top: 74px;
      left: -60px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 254px;
    bottom: 410px;
    width: 822px;
    height: 92px;
    border-radius: 822px;
    background: #c19559;
    filter: blur(305.5px);
  }
}

.silver_line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 4;
}

.silver_line_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 4;
}

.map_1 {
  position: absolute;
  top: 0;
  right: 0;
}
.map_2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.drax_container {
  display: flex;
  width: 100%;
  position: relative;
  gap: 31px;
  justify-content: space-between;
}

.drax_after,
.allocation_after {
  padding-left: 30px;
  border-left: 7px solid #e5c787;

  @media screen and (max-width: 1280px) {
    border-left: 4px solid #e5c787;
  }

  @media screen and (max-width: 700px) {
    margin-right: 150px;
    padding-left: 14px;
  }

  @media screen and (max-width: 650px) {
    padding-left: 8px;
    margin-right: 0;
  }
}

.drax_title {
  color: #e5c787;
  font-family: var(--font-nunito-sans);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 30px;
  span {
    color: white;
  }
  @media (max-width: 1280px) {
    line-height: 38px;
    font-size: 32px;
    margin-bottom: 20px;
  }
  @media (max-width: 700px) {
    line-height: 28.8px;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.bg_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
}
.drax_text {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  max-width: 661px;
  @media (max-width: 1280px) {
    max-width: 498px;
    font-size: 15px;
    letter-spacing: 0.75px;
  }
  @media (max-width: 998px) {
    max-width: auto;
  }
  @media (max-width: 700px) {
    font-size: 24px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.75px;
  }
}

.drax_btn {
  gap: 16px;
  width: 356px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1280px) {
    width: 278px;
  }

  @media screen and (max-width: 650px) {
    max-width: 250px;
    padding-left: 0;
  }
}

.drax_swap {
  border-radius: 20px;
  border: 3px solid #363636;
  background: #121212;
  max-width: 738px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 20px 40px;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media (max-width: 1280px) {
    width: 374px;
    padding: 10px 40px;
    padding-bottom: 18px;
  }
  @media (max-width: 998px) {
    width: 310px;
    padding: 10px 20px;
    border-radius: 12px;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}

.drax_swap_under {
  position: relative;
  &::after {
    content: "";
    width: 324px;
    height: 325px;
    border-radius: 325px;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(305.5px);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    // z-index: -2;
    @media (max-width: 1280px) {
      width: 186px;
      height: 187px;
      top: -70px;
      right: -90px;
    }
  }
}

.drax_swap_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.drax_title_container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  h3 {
    min-width: max-content;
  }
  span {
    display: block;
    width: 100%;
    height: 1px;
    background: #363636;
  }
  @media (max-width: 1280px) {
    height: 50px;
  }
  @media (max-width: 700px) {
    height: 40px;
  }
}

.drax_swap_title {
  color: var(--white-1-ea, var(--White-1, #eaeaea));
  font-family: var(--font-source-sans-3);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.96px;
  @media (max-width: 1280px) {
    font-size: 16px;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.64px;
  }
  @media (max-width: 700px) {
    font-size: 13px;
    letter-spacing: 0.52px;
  }
}

.drax_swap_btns {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 28px;
  @media (max-width: 1280px) {
    margin-top: 10px;
    svg,
    img {
      width: 18px;
      height: 18px;
    }
  }
  button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 12px;
    background: var(--gray-436, #363636);
    border: none;
    outline: none;
    color: var(--White-1, #eaeaea);
    font-family: var(--font-source-sans-3);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    gap: 10px;

    @media (max-width: 1280px) {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.52px;
      text-transform: uppercase;
      border-radius: 8px;
      background: var(--gray-320, #202020);
      height: 30px;
    }
    @media (max-width: 700px) {
      font-size: 11px;
      letter-spacing: 0.44px;
    }
  }
}

.drax_btn_container {
  width: 100%;
  margin-top: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
  @media (max-width: 1280px) {
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }
}

.drax_connect {
  width: 100%;
  @media (max-width: 700px) {
    height: 30px !important;
  }
}

.drax_buy {
  width: 100%;
  // margin-top: 20px;
  z-index: 1;
  @media (max-width: 700px) {
    height: 30px !important;
  }
}

.drax_input_container {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  gap: 20px;
  color: var(--White-1, #eaeaea);
  margin-top: 20px;
  display: flex;
  // display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1280px) {
    flex-direction: column;
    gap: 10px;
    // grid-template-columns: 1fr;
  }
  @media (max-width: 700px) {
    margin-top: 10px;
  }
}

.drax_input_wrapp {
  // width: 100%;
  border-radius: 12px;
  background: #202020;
  height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  @media (max-width: 1280px) {
    height: 30px;
    border-radius: 8px;
    svg,
    img {
      width: 18px;
      height: 18px;
    }
  }
  input {
    width: 100%;
    background-color: transparent;
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: 0.8px;
    border: none;
    outline: none;
    color: white;
    @media (max-width: 1280px) {
      font-size: 15px;
      font-weight: 600;
      line-height: 140%; /* 21px */
      letter-spacing: 0.6px;
    }
    &::placeholder {
      color: white;
    }
  }
}

.drax_amount_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 1280px) {
    gap: 5px;
  }
}

.drax_amount {
  color: var(--white-1-ea, var(--White-1, #eaeaea));
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.8px;
  span {
    font-weight: 600;
  }
  @media (max-width: 1280px) {
    font-size: 13px;
    letter-spacing: 0.65px;
  }
  @media (max-width: 700px) {
    font-size: 11px;
    letter-spacing: 0.55px;
  }
}

.drax_link {
  color: var(--gray-57-e, #7e7e7e);
  font-family: var(--font-nunito-sans);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 8px;
  @media (max-width: 1280px) {
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
  }
}

.drax_undertitle {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--gray-436, #363636);
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.64px;
  text-transform: uppercase;
  @media (max-width: 1280px) {
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 15.4px */
    letter-spacing: 0.44px;
    text-transform: uppercase;
    margin-top: 18px;
    svg,
    img {
      width: 114px;
      height: 15px;
    }
  }
}

.allocation_contaoner {
  display: flex;
  align-items: start;
  gap: 60px;
  position: relative;
  justify-content: space-between;
  margin-top: 160px;
  @media (max-width: 1920px) {
  }
  @media (max-width: 1280px) {
    margin-top: 0;
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }
}

.allocation_statistic {
  border-radius: 20px;
  border: 3px solid #363636;
  background: #121212;
  padding: 56px 42px 56px 52px;
  display: flex;
  gap: 45px;
  @media (max-width: 1920px) {
    padding: 42px 20px 42px 20px;
  }
  @media (max-width: 1280px) {
    width: 964px;
    width: 100%;
    margin: 0 auto;
  }
  @media (max-width: 998px) {
    border: none;
    padding: 0;
    background-color: transparent;
    gap: 28px;
  }
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.contact_btn {
  width: 260px;
  margin-top: 50px;
  display: flex;
  gap: 16px;
  margin-left: 37px;
  @media (max-width: 1280px) {
    margin-left: 38px;
  }
  @media (max-width: 998px) {
    margin-left: 18px;
  }
  @media (max-width: 700px) {
    margin-left: 12px;
  }
  @media (max-width: 1280px) {
    svg,
    img {
      width: 18px;
      height: 18px;
    }
  }
  @media (max-width: 998px) {
    width: 200px;
    margin-top: 20px;
  }
  @media (max-width: 700px) {
    width: 120px; // 150
    // margin-top: 20px;
  }
}

.allocation_text {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  gap: 15px;
  position: relative;
  display: block;

  @media (max-width: 700px) {
    // display: flex;
  }

  p {
    color: var(--white-1-ea, var(--White-1, #eaeaea));
    font-family: var(--font-source-sans-3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.72px;
    max-width: 506px;
    @media (max-width: 1920px) {
      max-width: 400px;
    }
  }
}

@media (max-width: 700px) {
  .sricle_container {
    display: flex;
  }

  .drax_sircle {
  }
}

.allowance_sircle_statistic {
  position: relative;
  width: 325px;
  min-width: 325px;
  height: 327px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 998px) {
    width: 230px;
    height: 230px;
    min-width: 230px;
  }
  @media (max-width: 700px) {
    width: 162px;
    min-width: 162px;
    height: 162px;
    float: right;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.allowance_sircle_text {
  display: flex;
  flex-direction: column;
  color: #b7b6b0;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 700px) {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
  }
  span {
    color: #7e7e7e;
    font-size: 20px;
    @media (max-width: 700px) {
      font-size: 13px;
    }
  }
}

.statistic {
  // display: flex;
  flex: 1 1 auto;
}

.statistic_container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 19px;
  @media (max-width: 700px) {
    margin-top: 10px;
  }
}

.statistic_item {
  display: flex;
  // width: 100%;
  padding: 5px 10px;
  padding-left: 26px;
  height: 32px;
  border-radius: 5px;
  background: #202020;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.7px;
  gap: 6px;
  position: relative;

  @media (max-width: 998px) {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 15.4px */
    letter-spacing: 0.55px;
  }

  @media (max-width: 700px) {
    font-size: 11px;
    letter-spacing: 0.55px;
  }
  @media (max-width: 450px) {
    font-size: 9px;
    letter-spacing: 0.55px;
  }
  span {
    margin-left: auto;
    font-size: 16px;
    @media (max-width: 998px) {
      font-size: 12px;
    }

    @media (max-width: 450px) {
      font-size: 10px;
      letter-spacing: 0.55px;
      img {
        width: 80px;
      }
    }
  }
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
  }
  &:nth-child(1) {
    &::after {
      background-color: #ffcf54;
    }
  }
  &:nth-child(2) {
    &::after {
      background-color: #fb424d;
    }
  }
  &:nth-child(3) {
    &::after {
      background-color: #ff188c;
    }
  }
  &:nth-child(4) {
    &::after {
      background-color: #5960ff;
    }
  }
  &:nth-child(5) {
    &::after {
      background-color: #51c2ff;
    }
  }
  &:nth-child(6) {
    &::after {
      background-color: #6bffca;
    }
  }
  &:nth-child(7) {
    &::after {
      background-color: #ff9357;
    }
  }
}

.statistic_tabs {
  display: flex;
  border-radius: 12px;
  border: 1px solid #36373a;
  width: 170px;
  height: 30px;
  margin-left: auto;
  margin-top: auto;
  @media (max-width: 998px) {
    width: 130px;
    height: 20px;
  }
}

.statistic_tab {
  width: 100%;
  transition: all 0.5s;
  border-radius: 12px;
  height: 30px;
  font-family: var(--font-nunito-sans);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 18.2px */
  letter-spacing: 0.52px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #7e7e7e;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  @media (max-width: 998px) {
    height: 20px;
    font-size: 10px;
    letter-spacing: 0.4px;
  }
}

.statistic_tab_active {
  border: 1px solid var(--Gold-solid, #e5c787);
  color: #ffe09d;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  background: #231f18;
  &::before {
    transition: all 0.2s;
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    filter: blur(50px);
    opacity: 0;
    background-color: #ffb800;
  }
  &:hover {
    &::before {
      visibility: visible;
      opacity: 0.7;
    }
  }
}

.statistic_head {
  display: flex;
  gap: 14px;
  width: 100%;
  padding-bottom: 9px;
  position: relative;
  @media (max-width: 700px) {
    gap: 5px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(126, 126, 126, 0.3);
  }
}

.allowance_about_token {
  color: #7d7d77;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.56px;
  @media (max-width: 998px) {
    font-size: 11px;
    letter-spacing: 0.44px;
  }
  @media (max-width: 700px) {
    font-size: 10px;
    letter-spacing: 0.4px;
  }
  @media (max-width: 450px) {
    font-size: 9px;
    letter-spacing: 0.4px;
  }
}

.allocation_contaoner_data {
  display: flex;
  flex-direction: column;
  gap: 1px;
  @media (max-width: 998px) {
    gap: 5px;
  }
  @media (max-width: 700px) {
    gap: 1px;
  }
}

.allowance_token_price {
  color: var(--Gold-Solid-1, #e5c787);
  text-align: left;
  font-family: var(--font-source-sans-3);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.52px;
  @media (max-width: 998px) {
    font-size: 10px;
    letter-spacing: 0.4px;
  }
  @media (max-width: 700px) {
    font-size: 10px;
    letter-spacing: 0.4px;
  }
  @media (max-width: 450px) {
    font-size: 9px;
    letter-spacing: 0.4px;
  }
  span {
    color: rgba(234, 234, 234, 0.6);
  }
}

.drax_bottom_container {
  width: 100%;
  @media (max-width: 1280px) {
  }
  @media (max-width: 998px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 57px;
  }
  @media (max-width: 700px) {
    flex-direction: column;
    gap: 30px;
  }
}

.btn_container {
  gap: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
  position: relative;
  z-index: 1;
  padding-left: 39px;
  @media (max-width: 1280px) {
    padding-left: 38px;
  }
  @media (max-width: 998px) {
    padding-left: 32px;
  }
  @media (max-width: 700px) {
    padding-left: 12px;
  }

  @media (max-width: 1280px) {
    max-width: 278px;
    gap: 20px;
    svg,
    img {
      width: 18px;
      height: 18px;
    }
  }
  @media (max-width: 700px) {
    max-width: 100%;
    margin-top: 30px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 20px;
  }
}
