.media {
  background: #080808;
  padding: 53px 212px 104px 212px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  @media (max-width: 1600px) {
    padding: 90px 159px 90px 159px;
  }

  @media (max-width: 1280px) {
    padding: 30px 30px 76px 24px;
  }
  &::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 645px;
    height: 350px;
    top: -419px;
    border-radius: 645px;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(305.5px);
  }
}

.media_marquee {
  gap: 105px;
  margin-top: 64px;
  @media (max-width: 1280px) {
    margin-top: 0;
  }
}
.media_title {
  color: var(--Gold-Solid-1, var(--White-1, #e5c787));
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 60px */
  text-transform: uppercase;
  @media (max-width: 1280px) {
    font-size: 32px;
  }
  span {
    color: white;
  }
}
.media_img_wrap {
  width: 240px;
  height: 106.849px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media_body {
  display: flex;
  gap: 20px;
  margin-top: 122px;
  position: relative;
  @media (max-width: 1280px) {
    margin-top: 40px;
  }
  &::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.6);
    width: 251px;
    height: 251px;
    filter: blur(305.5px);
    bottom: -76px;
    right: 421px;
  }
}

.media_integration {
  border-radius: 20px;
  border: 1px solid #363636;
  width: 435px;
  min-width: 435px;
  height: 675px;
  position: relative;
  padding: 40px;
  overflow: hidden;
  @media (max-width: 1280px) {
    width: 275px;
    min-width: 275px;
    height: 456px;
  }
  h3 {
    color: var(--White-1, #eaeaea);
    text-align: left;
    font-family: var(--font-nunito-sans);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  p {
    max-width: 261px;
    color: var(--white-1-ea, var(--White-1, #eaeaea));
    font-family: var(--font-sourse-sans-3);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1px;
    margin-top: 20px;
  }
}

.media_integration_img {
  position: absolute;
  &_1 {
    width: 108.677px;
    height: 108.677px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 62px;
    right: -32px;
    border-radius: 27.169px;
    background: #c4d0fd;
    box-shadow: 0px 0px 19.019px 0px #c4d0fd;
    transform: rotate(-20.631deg);
  }
  &_2 {
    top: 224px;
    right: 0;
  }
  &_3 {
    top: 253px;
    right: 113px;
  }
  &_4 {
    top: 309px;
    left: 0;
  }
  &_5 {
    top: 392px;
    right: 0;
  }
  &_6 {
    top: 456px;
    left: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122.474px;
    height: 122.474px;
    transform: rotate(15deg);
    border-radius: 30.619px;
    background: #12aaff;
    box-shadow: 0px 0px 21.433px 0px #12aaff;
  }
  &_7 {
    right: 71px;
    bottom: -5px;
  }
  &_8 {
    left: 0;
    bottom: -5px;
  }
}

.media_social_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.media_token_wrap {
  position: relative;
  height: 557px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #363636;
  padding-top: 257px;
  padding-left: 77px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
  padding-right: 20px;
  @media (max-width: 1600px) {
    padding-top: 100px;
    padding-left: 51px;
  }
  @media (max-width: 1280px) {
    padding-top: 170px;
    gap: 13px;
    height: 371px;
  }

  &::after {
    position: absolute;
    content: "";
    border-radius: 575px;
    background: #c19559;
    filter: blur(305.5px);
    top: 72px;
    right: -269px;
    width: 547px;
    height: 575px;
  }
  h2 {
    color: var(--White-1, #eaeaea);
    text-align: left;
    font-family: var(--font-nunito-sans);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    position: relative;
    z-index: 2;
    @media (max-width: 1280px) {
      font-size: 21.333px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.427px;
    }
  }
  p {
    color: var(--white-1-ea, var(--White-1, #eaeaea));
    font-family: var(--font-sourse-sans-3);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: 1px;
    max-width: 587px;
    position: relative;
    z-index: 2;
    @media (max-width: 1280px) {
      font-size: 15px;
      font-weight: 400;
      line-height: 140%; /* 21px */
      letter-spacing: 0.75px;
    }
  }
}

.media_token {
  position: absolute;
  right: -315px;
  bottom: -161px;
  z-index: 1;
  width: 631px;
  height: 683px;
  @media (max-width: 1600px) {
    width: 420.667px;
    height: 455.333px;
    right: -202px;
    bottom: -107px;
  }
}

.media_links_container {
  width: 100%;
  display: flex;
  gap: 20px;
  height: 98px;
  position: relative;
  overflow: hidden;
}

.media_links {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #363636;
  display: flex;
  padding: 0 58px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  box-sizing: border-box;
  cursor: pointer;
}

.media_links_img {
  position: absolute;
  top: 20px;
  left: 180px;
  width: 850px;
  height: 850px;
  transform: rotate(-5deg);
}
