.media {
  background: #080808;
  padding: 53px 0 104px 0;
  position: relative;
  z-index: 1;
  @media (max-width: 1600px) {
    padding: 90px 0 90px 0;
  }

  @media (max-width: 1500px) {
    padding: 90px 0;
  }
  @media (max-width: 1000px) {
    padding: 30px 0 76px 0;
  }
  @media (max-width: 700px) {
    padding: 70px 0 75px 0;
  }
  &::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 645px;
    height: 350px;
    top: -419px;
    border-radius: 645px;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(305.5px);
    @media (max-width: 1600px) {
      width: 430px;
      height: 233.333px;
      top: -278px;
      border-radius: 430px;
    }
    @media (max-width: 998px) {
      width: 312px;
      height: 169px;
      top: -209px;
      border-radius: 312px;
    }
    @media (max-width: 700px) {
      display: none;
    }
  }
}

.bg_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 0;
}
.container {
  z-index: 5;
  display: flex;
  flex-direction: column;
}
.media_marquee {
  gap: 105px;
  position: relative;

  @media (max-width: 1280px) {
    gap: 0;
  }
}

.back {
  position: relative;
  margin-top: 44px;
  @media (max-width: 1280px) {
    margin-top: 10px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 0;
    width: calc(100vw - 32px);
  }
}

.hover_2 {
  position: absolute;
  width: 300px;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(13, 13, 12, 1) 100%
  );
  // transform: scaleX(-1);
  z-index: 2;
  @media screen and (max-width: 650px) {
    width: 100px;
  }
}

.hover_1 {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(13, 13, 12, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
  @media screen and (max-width: 650px) {
    width: 100px;
  }
}

.media_title {
  color: #e5c787;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
  text-transform: uppercase;
  @media (max-width: 1280px) {
    font-size: 32px;
    line-height: 48px;
  }
  @media (max-width: 998px) {
  }
  span {
    color: white;
  }

  @media screen and (max-width: 700px) {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.media_img_wrap {
  width: 240px;
  height: 106.849px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 998px) {
    height: 45px;
    width: 84px;
  }
  @media (max-width: 700px) {
    // height: 45px;
    // width: 84px;
  }
}

.media_body {
  display: flex;
  gap: 20px;
  margin-top: 52px;
  position: relative;
  @media (max-width: 1280px) {
    margin-top: 30px;
  }
  @media (max-width: 700px) {
    width: 100%;
    margin-top: 28px;
    flex-direction: column;
    margin-top: 18px;
  }
  &::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.6);
    width: 251px;
    height: 251px;
    filter: blur(305.5px);
    bottom: -76px;
    right: 421px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 40px;
  }
}

.media_integration {
  border-radius: 20px;
  border: 1px solid #363636;
  width: 435px;
  min-width: 435px;
  height: 675px;
  position: relative;
  padding: 40px;
  overflow: hidden;
  @media (max-width: 1280px) {
    width: 275px;
    min-width: 275px;
    height: 456px;
    padding: 26px;
  }
  @media (max-width: 998px) {
    width: 200px;
    height: 289px;
    min-width: 200px;
    padding: 16px;
  }
  @media (max-width: 700px) {
    border: none;
    padding: 0;
    padding-left: 12px;
    width: 100%;
    overflow: visible;
  }
  h3 {
    color: #eaeaea;
    text-align: left;
    font-family: var(--font-nunito-sans);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.64px;
    @media (max-width: 1280px) {
      font-size: 21.333px;
      font-style: normal;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0.427px;
    }
    @media (max-width: 998px) {
      font-size: 13.123px;
      letter-spacing: 0.262px;
    }
    @media (max-width: 700px) {
      font-size: 15px;
      letter-spacing: 0.48px;
      position: relative;
      line-height: 20px;
      z-index: 1;
    }

    @media screen and (max-width: 650px) {
      font-size: 24px;
      line-height: 33px;
    }
  }
  p {
    max-width: 261px;
    color: var(--white-1-ea, var(--White-1, #eaeaea));
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1px;
    margin-top: 20px;
    @media (max-width: 1280px) {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 21px */
      letter-spacing: 0.75px;
    }
    @media (max-width: 998px) {
      font-size: 9.227px;
      line-height: 140%; /* 12.918px */
      letter-spacing: 0.461px;
      max-width: 120px;
    }
    @media (max-width: 700px) {
      margin-top: 8px;
      font-size: 12px;
      line-height: 130%; /* 15.6px */
      letter-spacing: 0.6px;
      max-width: 242px;
      position: relative;
      z-index: 1;
    }
  }
}

.media_integration_img {
  position: absolute;

  &_1 {
    width: 108.677px;
    height: 108.677px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 62px;
    right: -32px;
    transform: rotate(-20.631deg);
    @media (max-width: 1280px) {
      width: 72.451px;
      height: 72.451px;
      top: 41px;
      right: -43px;
    }
    @media (max-width: 998px) {
      width: 45px;
      height: 45px;
      top: 25px;
      right: 4px;
    }
    @media (max-width: 700px) {
      top: 100px;
      right: auto;
      left: 257px;
      width: 61.604px;
      height: 61.604px;
    }
    @media (max-width: 400px) {
      top: 90px;
      left: 102px;
    }
  }
  &_2 {
    top: 224px;
    right: 0;
    width: 140.05px;
    height: 140.05px;
    // transform: rotate(14.129deg);

    right: -59px;
    @media (max-width: 1280px) {
      width: 93.367px;
      height: 93.367px;
      right: -40px;
      top: 149px;
    }
    @media (max-width: 998px) {
      width: 57px;
      height: 57px;
      top: 92px;
      right: -2px;
    }
    @media (max-width: 700px) {
      top: 30px;
      right: 24px;
      width: 78.897px;
      height: 78.897px;
    }
  }
  &_3 {
    top: 253px;
    right: 113px;
    @media (max-width: 1280px) {
      top: 168px;
      right: 60px;
      width: 92.536px;
      height: 92.536px;
    }
    @media (max-width: 998px) {
      width: 57px;
      height: 57px;
      top: 104px;
      right: 67px;
    }
    @media (max-width: 700px) {
      top: 148px;
      width: 57px;
      height: 57px;
      right: 117px;
    }
  }
  &_4 {
    top: 309px;
    left: -36px;
    width: 157.197px;
    height: 157.197px;
    @media (max-width: 1280px) {
      top: 206px;
      width: 104.798px;
      height: 104.798px;
      left: -24px;
    }
    @media (max-width: 998px) {
      width: 64px;
      height: 64px;
      top: 127px;
      left: -14px;
    }
    @media (max-width: 700px) {
      top: 130px;
      left: 26px;
      width: 64px;
      height: 64px;
    }
  }
  &_5 {
    top: 392px;
    right: -71px;
    width: 163.299px;
    height: 163.299px;
    @media (max-width: 1280px) {
      width: 108.866px;
      height: 108.866px;
      right: -52px;
      top: 261px;
    }
    @media (max-width: 998px) {
      width: 67px;
      height: 67px;
      top: 160px;
      right: -7px;
    }
    @media (max-width: 700px) {
      top: 106px;
      right: -8px;
      width: 67px;
      height: 67px;
    }
  }
  &_6 {
    top: 456px;
    left: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122.474px;
    height: 122.474px;
    transform: rotate(15deg);
    @media (max-width: 1280px) {
      width: 81.65px;
      height: 81.65px;
      top: 304px;
      left: 66px;
    }
    @media (max-width: 998px) {
      top: 187px;
      right: 41px;
      width: 50px;
      height: 50px;
    }
    @media (max-width: 700px) {
      top: 202px;
      left: 181px;
      width: 50px;
      height: 50px;
    }
    @media (max-width: 400px) {
      left: 81px;
    }
  }
  &_7 {
    right: 71px;
    bottom: -30px;
    width: 113.908px;
    height: 113.908px;
    @media (max-width: 1280px) {
      width: 75.939px;
      height: 75.939px;
      right: 32px;
      bottom: -14px;
    }
    @media (max-width: 998px) {
      width: 47px;
      height: 47px;
      right: 50px;
      bottom: 0;
    }
    @media (max-width: 700px) {
      width: 87.467px;
      height: 87.467px;
      bottom: 0;
      right: 60px;
    }
  }
  &_8 {
    left: -37px;
    bottom: -39px;
    width: 123.11px;
    height: 123.11px;
    @media (max-width: 1280px) {
      left: -24px;
      bottom: -20px;
      width: 82.074px;
      height: 82.074px;
    }
    @media (max-width: 998px) {
      left: -14px;
      bottom: -2px;
      width: 50px;
      height: 50px;
    }
    @media (max-width: 700px) {
      width: 50px;
      height: 50px;
      bottom: 34px;
      left: 0;
    }
  }
}

.media_social_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
  @media (max-width: 700px) {
    gap: 10px;
  }
}

.media_token_wrap {
  position: relative;
  z-index: 2;
  height: 557px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #363636;
  padding-top: 257px;
  padding-left: 77px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  padding-right: 20px;
  @media (max-width: 1600px) {
    padding-top: 100px;
    padding-left: 51px;
  }
  @media (max-width: 1280px) {
    padding-top: 170px;
    gap: 13px;
    height: 371px;
  }
  @media (max-width: 900px) {
    padding-top: 105px;
  }
  @media (max-width: 998px) {
    height: 229px;
    padding-left: 32px;
    border-radius: 12px;
  }
  @media (max-width: 700px) {
    height: 186px;
    padding-top: 30px;
    padding-left: 12px;
    gap: 8.2px;
  }

  &::after {
    position: absolute;
    content: "";
    border-radius: 575px;
    background: #c19559;
    filter: blur(305.5px);
    top: 72px;
    right: -269px;
    width: 547px;
    height: 575px;
    @media (max-width: 1280px) {
      width: 364.667px;
      height: 383.333px;
      border-radius: 383.333px;
      right: -204px;
      top: 48px;
    }
    @media (max-width: 998px) {
      width: 224px;
      height: 236px;
      border-radius: 0;
      right: -117px;
      top: 30px;
    }
    @media (max-width: 700px) {
      width: 224px;
      height: 236px;
      top: -13px;
      right: -134px;
    }
  }
  h2 {
    color: var(--White-1, #eaeaea);
    text-align: left;
    font-family: var(--font-nunito-sans);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    position: relative;
    z-index: 2;
    @media (max-width: 1280px) {
      font-size: 21.333px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.427px;
    }
    @media (max-width: 998px) {
      font-size: 13.123px;
      letter-spacing: 0.262px;
    }
    @media (max-width: 700px) {
      font-size: 13.123px;
      letter-spacing: 0.262px;
    }
  }
  p {
    color: var(--white-1-ea, var(--White-1, #eaeaea));
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: 1px;
    max-width: 587px;
    position: relative;
    z-index: 2;
    @media (max-width: 1280px) {
      font-size: 15px;
      font-weight: 400;
      line-height: 140%; /* 21px */
      letter-spacing: 0.75px;
    }
    @media (max-width: 998px) {
      font-size: 9.227px;
      line-height: 140%; /* 12.918px */
      letter-spacing: 0.461px;
      max-width: 250px;
    }
    @media (max-width: 700px) {
      max-width: 223px;
      font-size: 10px;
      line-height: 140%; /* 14px */
      letter-spacing: 0.5px;
    }
  }
}

.media_token {
  position: absolute;
  right: -315px;
  bottom: -161px;
  z-index: 1;
  width: 631px;
  height: 683px;
  @media (max-width: 1600px) {
    width: 420.667px;
    height: 455.333px;
    right: -202px;
    bottom: -107px;
  }
  @media (max-width: 998px) {
    width: 259px;
    height: 280px;
    right: -116px;
    bottom: -65px;
  }
  @media (max-width: 700px) {
    bottom: -42px;
    right: -108px;
    width: 223px;
    height: 241px;
  }
}

.media_links_container {
  width: 100%;
  display: flex;
  gap: 20px;
  height: 98px;
  position: relative;
  overflow: hidden;
  @media (max-width: 1280px) {
    gap: 13px;
    height: 65px;
    svg,
    img {
      height: 26px;
      width: 26px;
    }
  }
  @media (max-width: 998px) {
    gap: 20px;
    height: 40px;
    svg,
    img {
      height: 16px;
      width: 16px;
    }
  }
  @media (max-width: 700px) {
    gap: 10px;
  }
}

.media_links {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #363636;
  display: flex;
  padding: 0 58px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  box-sizing: border-box;
  cursor: pointer;
  @media (max-width: 1280px) {
    font-size: 16px;
    padding: 0 38px;
    border-radius: 13px;
  }
  @media (max-width: 998px) {
    padding: 0 24px;
    font-size: 9.842px;
    letter-spacing: 0.197px;
    border-radius: 12px;
  }
  @media (max-width: 700px) {
  }
}

.media_links_img {
  position: absolute;
  top: 20px;
  left: 180px;
  width: 850px;
  height: 850px;
  transform: rotate(-5deg);
}

.isMobile {
  @media (min-width: 998px) {
    display: none;
  }
}
