.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-backdrop-filter: blur(5px);
  background: rgba(21, 21, 21, 0.1);
  backdrop-filter: blur(25px);
}

.header_container {
  height: 100%;
}

.header_body {
  height: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header_links_list {
  display: flex;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
}

.header_links_list_item {
  color: #eaeaea;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 1.12px;
  text-decoration: none;
}

.swiper {
  width: 100%;
  max-width: 655px;
  height: 35px;
  padding: 10px 15px !important;
  display: flex;
}

.swiper_slide_title {
  color: #eaeaea;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.2px;
  text-wrap: nowrap;
  letter-spacing: 0.91px;
}

.swiper_slide {
  cursor: pointer;
  // flex-shrink: 100 !important;
  flex: 1 0 auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper_slide[data-id="1"] {
  width: 100%;
  max-width: 30px;
}

.swiper_slide[data-id="2"] {
  width: 100%;
  max-width: fit-content;
}

.swiper_slide[data-id="3"] {
  width: 100%;
  max-width: fit-content;
}

.swiper_slide[data-id="4"] {
  width: 100%;
  max-width: fit-content;
}

.swiper_slide[data-id="5"] {
  width: 100%;
  max-width: fit-content;
}

.swiper_slide[data-id="6"] {
  width: 100%;
  max-width: fit-content;
}

.swiper_slide[data-id="7"] {
  width: 100%;
  max-width: fit-content;
}
.swiper_slide[data-id="8"] {
  width: 100%;
  max-width: fit-content;
}

.swiper_slide[data-id="9"] {
  width: 100%;
  max-width: fit-content;
}

.swiper_slide[data-id="10"] {
  width: 100%;
  justify-content: start !important;
}

.swiper_prev_btn {
  cursor: pointer;
  transform: rotate(180deg);
}

.swiper_next_btn {
  cursor: pointer;
}
