.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-backdrop-filter: blur(5px);
  background: rgba(21, 21, 21, 0.7);
  backdrop-filter: blur(25px);
}

.header_bg_img {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.header_container {
  height: 100%;
}

.header_body {
  height: 100%;
  padding: 0 30px 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 700px) {
    padding: 0 30px 0 20px;
  }

  @media screen and (max-width: 650px) {
    padding: 0 16px;
    padding: 0 0 0 16px;
  }
}

.burger_menu_block {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header_links_list {
  display: flex;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
}

.header_links_list_item {
  cursor: pointer;
  color: #eaeaea;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 1.12px;
  text-decoration: none;

  transition: all 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.burger_btn {
  width: 20px;
  height: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.burger_open_wrap {
  z-index: 10;
  @media screen and (max-width: 650px) {
    width: 50px;
    height: 100%;
    display: flex;
    padding-right: 16px;
    justify-content: end;
    align-items: center;
  }
}

.burger_line {
  display: block;
  background: #eaeaea;
  width: 20px;
  border-radius: 5px;
  height: 2px;
  transition: 0.3s ease-in-out;
  left: 0;

  &_1 {
    top: 0;
  }
  &_2,
  &_3 {
    top: 8px;
  }
}

.burger_anim {
  .burger_line {
    position: absolute;

    &_1 {
      top: 8px;
      width: 0%;
      left: 50%;
    }

    &_2 {
      transform: rotate(45deg);
    }

    &_3 {
      transform: rotate(-45deg);
    }

    // &:nth-child(4) {
    //   top: 8px;
    //   width: 0%;
    //   left: 50%;
    // }
  }
}

.burger_mob_hidden {
  @media screen and (max-width: 650px) {
    display: none;
  }
}

.burger_menu_wrap_block {
  height: 100%;
}

// .burger_bg_img_2 {

// }

@media screen and (max-height: 714px) and (max-width: 650px) {
  .burger_menu_wrap_block {
    height: auto;
  }
}

.burger_menu_block {
  height: 100%;
  z-index: 20;
  position: relative;
  padding: 36px 12px 20px 12px;
}

.burger_menu_wrap {
  transition: all 0.7s;
  right: -250px;
  overflow: auto;
  z-index: 100;
  width: 215px;
  position: fixed;
  top: 60px;
  height: calc(100vh - 60px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(21, 21, 21, 0.7);
  backdrop-filter: blur(25px);

  @media screen and (max-width: 650px) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 4px;
    margin-left: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 4px;
  }

  scrollbar-width: thin;
  scrollbar-color: #3e3e3e transparent;
  *::-ms-scrollbar {
    width: 4px;
  }

  *::-ms-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 4px;
  }

  @media screen and (max-width: 650px) {
    right: -200vw;
  }
}

.burger_opened {
  right: 0;
}

.bh_f {
  opacity: 50%;

  @media screen and (max-width: 650px) {
    opacity: 100%;
  }
}

.burger_bg_img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @media screen and (max-width: 650px) {
    // height: 1500px;
  }
}

.burger_wrap {
  position: relative;
  width: 100%;
}

.burger_mob_pattern {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;

  @media screen and (max-width: 650px) {
    display: block;
  }
}

.yak_list {
  z-index: 20;
  gap: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.socials_title {
  color: #eaeaea;
  text-align: right;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 1.12px;
}

.burger_socials_block {
  margin-top: 30px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.burger_socials_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.img {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
