* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden !important;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  @media screen and (max-width: 1280px) {
    max-width: 1120px;
  }

  padding-left: 30px;
  padding-right: 30px;

  @media screen and (max-width: 650px) {
    align-items: start;
    padding-left: 16px;
    padding-right: 16px;
  }
}
