.button {
  border-radius: 12px;
  border: 1px solid var(--Gold-solid, #e5c787);
  background: #231f18;
  height: 50px;
  color: #ffe09d;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  user-select: none;

  @media (max-width: 1280px) {
    height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.56px;
    text-transform: capitalize;
  }
  &:hover {
    .hover_el_light {
      visibility: visible;
      opacity: 0.7;
    }
  }

  @media screen and (max-width: 998px) {
    border-radius: 8px;
    font-size: 12px;
    line-height: 16.8px;
    width: 160px;
  }
  @media screen and (max-width: 700px) {
    height: 40px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.48px;
  }
}

.disabled_btn {
  cursor: default;
}

.hover_el_light {
  transition: all 0.2s;
  content: "";
  position: absolute;
  width: 50px;
  height: 80px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  filter: blur(50px);
  opacity: 0;
  background-color: #ffb800;
}

.hover_el_gray {
  transition: all 0.2s;
  content: "";
  position: absolute;
  width: 30px;
  height: 60px;
  bottom: -20px;
  visibility: hidden;
  filter: blur(50px);
  opacity: 0;
  background-color: #b4b4b4;
}

.button_gray {
  border: 1px solid var(--gray-436, #363636);
  background: var(--gray-320, #202020);
  color: var(--gray-57-e, #7e7e7e);
  &:hover {
    .hover_el_gray {
      visibility: visible;
      opacity: 1;
    }
  }
}
