.program {
  background: #0a0a0a;
  padding: 301px 0px 1px 0px;
  display: flex;
  gap: 25px;

  @media (max-width: 1600px) {
    padding: 60px 0px 0px 0px;
    justify-content: space-between;
    gap: 0;
  }

  @media (max-width: 1280px) {
    padding: 71px 0px 0px 0px;
  }
  @media (max-width: 700px) {
    padding: 98px 0px 0px 0px;
    flex-direction: column;
  }

  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 626px;
    height: 184px;
    border-radius: 626px;
    background: #c19559;
    filter: blur(305.5px);
    top: 366px;
    left: -253px;
    @media (max-width: 1600px) {
      width: 626px;
      height: 184px;
      border-radius: 626px;
      top: 128px;
      left: -339px;
    }
    @media (max-width: 1280px) {
      width: 452px;
      height: 133px;
      border-radius: 452px;
      top: 48px;
      left: -329px;
    }
    @media (max-width: 700px) {
      width: 72px;
      height: 141px;
      border-radius: 0;
      top: 90px;
      left: -40px;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 414px;
    height: 415px;
    top: 377px;
    border-radius: 415px;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(305.5px);
    right: 378px;
    @media (max-width: 1280px) {
      display: none;
    }
  }
}
.d {
  display: flex;
}
.bg_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
}
.container {
  display: flex;
  gap: 25px;
  width: 100%;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
  @media (max-width: 1600px) {
    justify-content: space-between;
    gap: 0;
  }
}

.drax_container {
  display: flex;
  flex-direction: column;
  position: relative;
  @media (max-width: 998px) {
  }
  @media (max-width: 700px) {
    width: auto;
    min-width: auto;
  }

  @media (max-width: 1920px) {
    min-width: auto;
  }
}

.drax_after {
  position: relative;
  padding-left: 40px;
  border-left: 7px solid #e5c787;

  @media screen and (max-width: 1280px) {
    border-left: 4px solid #e5c787;
    padding-left: 30px;
  }

  @media screen and (max-width: 700px) {
    margin-right: 150px;
    padding-left: 15px;
  }

  @media screen and (max-width: 650px) {
    padding-left: 8px;
    margin-right: 0;
  }
}

.drax_title {
  color: #e5c787;
  font-family: var(--font-nunito-sans);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  @media (max-width: 1280px) {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }
  @media (max-width: 998px) {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  span {
    color: white;
  }
}

.drax_text {
  margin-top: 30px;
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  max-width: 512px;
  @media (max-width: 1600px) {
    max-width: 430px;
  }
  @media (max-width: 1280px) {
    max-width: 351px;
    margin-top: 10px;
    font-size: 15px;
    width: 351px;
    letter-spacing: 0.6px;
  }
  @media (max-width: 998px) {
    max-width: 293px;
  }
  @media (max-width: 700px) {
    margin-top: 10px;
    max-width: auto;
  }
}

.program_leptop {
  margin-top: 80px;
  flex: 1 1 auto;
  max-width: 1053px;
  width: 1053.586px;
  height: 641.514px;
  position: relative;
  @media (max-width: 1920px) {
    width: 750px;
    max-width: 750px;
    height: 500px;
  }
  @media (max-width: 1600px) {
    width: 667.539px;
    max-width: 667.539px;
    height: 406.455px;
  }
  @media (max-width: 1280px) {
    width: 617.647px;
    height: 377.005px;
  }
  @media (max-width: 700px) {
    width: 505.093px;
    height: 327.33px;
  }
}

.program_btn {
  max-width: 238px;
  margin-top: 60px;
  margin-left: 49px;
  @media (max-width: 1280px) {
    margin-left: 38px;
  }
  @media (max-width: 998px) {
    margin-left: 33px;
  }
  @media (max-width: 700px) {
    margin-left: 18px;
    margin-top: 30px;
  }
  @media (max-width: 998px) {
    margin-top: 20px;
    max-width: 160px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 20px;
    margin-left: 12px;
  }
}
