.partners_section {
  min-height: 1005px;
  position: relative;
  background: #080808;
  overflow: hidden;

  @media screen and (max-width: 1280px) {
    min-height: 810px;
  }
}
.silver_line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 4;
}
.partners_section_container {
  width: 100%;
  margin: 0 0 0 auto;
  max-width: 1500px;
  position: relative;
  z-index: 10;
}

.bg_img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.partners_info_title {
  max-width: 500px;
  display: block;
  margin-bottom: 30px;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;

  span {
    color: #e5c787;
  }

  @media screen and (max-width: 1280px) {
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 700px) {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 650px) {
    font-size: 24px;
    line-height: 28.8px;
  }
}

.partners_info_block {
  padding-left: 40px;
  border-left: 7px solid #e5c787;

  @media screen and (max-width: 1280px) {
    border-left: 4px solid #e5c787;
  }

  @media screen and (max-width: 700px) {
    margin-right: 150px;
    padding-left: 14px;
  }

  @media screen and (max-width: 650px) {
    padding-left: 8px;
    margin-right: 0;
  }
}

.partners_info_text {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.9px;
  display: block;

  @media screen and (max-width: 1280px) {
    font-size: 15px;
    line-height: 21px;
  }
}

.partners_info_text_one {
  max-width: 480px;
  margin-bottom: 10px;

  @media screen and (max-width: 700px) {
    margin-bottom: 5px;
  }
}

.partners_info_text_two {
  max-width: 540px;
}

.partners_section_body {
  padding: 150px 30px 0 30px;
}

.alpha_btn {
  width: 240px;
  margin-left: 47px;
  margin-top: 50px;

  @media screen and (max-width: 1280px) {
    width: 160px;
    margin-top: 30px;
    margin-left: 44px;
  }

  @media screen and (max-width: 700px) {
    margin-top: 20px;
    margin-left: 19px;
  }

  @media screen and (max-width: 650px) {
    margin-left: 12px;
  }
}

.right_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;

  @media screen and (max-width: 1660px) {
    width: 30%;
    height: 51vw;
  }

  @media screen and (max-width: 1280px) {
    right: -70px;
    bottom: -100px;
  }

  @media screen and (max-width: 700px) {
    width: 353px;
    max-width: 354px;
    bottom: -200px;
    height: 600px;
    max-height: 601px;
    right: -50px;
  }

  @media screen and (max-width: 380px) {
    bottom: -250px;
  }

  @media screen and (max-width: 320px) {
    bottom: -280px;
  }
}

.imgs_group_block {
  z-index: 3;
}

.top_img {
  position: absolute;
  top: 175px;
  right: 515px;
  z-index: 10;

  @media screen and (max-width: 1660px) {
    width: 27%;
    height: 14vw;
    top: auto;
    bottom: 37vw;
    right: 32%;
  }

  @media screen and (max-width: 1280px) {
    right: 26%;
    bottom: 29vw;
  }

  @media screen and (max-width: 910px) {
    right: 24%;
    bottom: 26vw;
  }

  @media screen and (max-width: 780px) {
    right: 23%;
    bottom: 24vw;
  }

  @media screen and (max-width: 700px) {
    width: 300px;
    bottom: 400px;
    height: 150px;
    right: -150px;
  }

  @media screen and (max-width: 650px) {
    bottom: 280px;
    background: #181818;
    border-radius: 15px;
    right: -130px;
  }

  @media screen and (max-width: 380px) {
    bottom: 230px;
  }

  @media screen and (max-width: 320px) {
    bottom: 200px;
  }
}

.partners_info_wrap {
  z-index: 5;
}

.bottom_img {
  position: absolute;
  bottom: 0;
  right: 515px;
  z-index: 10;

  @media screen and (max-width: 1660px) {
    width: 27%;
    height: 34.8vw;
    right: 32%;
  }

  @media screen and (max-width: 1280px) {
    right: 26%;
    bottom: -100px;
  }

  @media screen and (max-width: 910px) {
    right: 24%;
  }

  @media screen and (max-width: 780px) {
    right: 23%;
  }

  @media screen and (max-width: 700px) {
    width: 300px;
    height: 400px;
    right: 330px;
    bottom: -130px;
  }

  @media screen and (max-width: 700px) {
    right: 50px;
    bottom: -130px;
    background: #181818;
    border-radius: 15px;
  }

  @media screen and (max-width: 380px) {
    bottom: -180px;
  }

  @media screen and (max-width: 320px) {
    bottom: -210px;
  }
}

.partners_section_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 1005px;

  @media screen and (max-width: 1280px) {
    min-height: 730px;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    padding: 130px 30px 0 30px;
  }

  @media screen and (max-width: 650px) {
    padding: 130px 16px 0 16px;
    min-height: 810px;
  }
}

.left_ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 100px;
  border-radius: 790px;
  background: #c19559;
  filter: blur(305.5px);

  @media screen and (max-width: 700px) {
    top: 30%;
    left: -100px;
    width: 300px;
  }
}

.right_ellipse {
  position: absolute;
  top: 0;
  z-index: 0;
  right: 0;
  width: 324px;
  height: 325px;
  border-radius: 325px;
  background: rgba(255, 255, 255, 0.6);

  filter: blur(305.5px);

  @media screen and (max-width: 700px) {
    display: none;
  }
}

///////////

.anim_block_header {
  position: relative;
  top: 0;
  padding-top: 20px;

  z-index: 100;
  background: #181818;
}

.anim_head_block {
  border-radius: 0px 12px 12px 0px;
  border-left: 1px solid #e4c480;
  background: linear-gradient(
      90deg,
      rgba(255, 153, 0, 0.06) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #181818;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #eaeaea;
  padding: 0 15px;
  font-family: var(--font-source-sans-3);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.44px;

  @media screen and (max-width: 996px) {
    line-height: 40px;
    font-size: 15px;
  }

  @media screen and (max-width: 800px) {
    line-height: 20px;
  }

  @media screen and (max-width: 700px) {
    line-height: 40px;
  }
}

.anim_underline {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: #464646;
}

.animated_items_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.animated_items_list_item_body_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animated_items_list_item {
  position: relative;
  right: -120%;
  padding: 12px;
  height: 85px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #2f2d2c;
}

.amount_title_block {
  display: flex;
  gap: 5px;
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.24px;

  @media screen and (max-width: 996px) {
    font-size: 9px;
  }
}

.address_block {
  @media screen and (max-width: 996px) {
    width: 70px;
    overflow: hidden;
  }
}

.bnb_title_sp {
  @media screen and (max-width: 996px) {
    display: none;
  }
}

.usd_title {
  color: #fffffe;
  text-align: right;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 17px;
  letter-spacing: 0.24px;

  @media screen and (max-width: 996px) {
    font-size: 10px;
  }
}

.bnb_title {
  color: #fffffe;
  text-align: right;
  font-family: var(--font-source-sans-3);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.2px;

  @media screen and (max-width: 996px) {
    font-size: 10px;
  }
}

.date_title {
  color: #fffffe;
  text-align: right;
  font-family: var(--font-source-sans-3);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}

.status_title {
  color: #0dfa43;
  text-align: right;
  font-family: var(--font-source-sans-3);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.item_animated {
  animation-name: itemToLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.anim_stop1 {
  position: relative;
  animation-name: itemsToTop1;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.anim_stop2 {
  position: relative;
  animation-name: itemsToTop2;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.anim_stop3 {
  position: relative;
  animation-name: itemsToTop3;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.anim_end {
  position: relative;
  animation-name: animEnd;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animEnd {
  from {
    bottom: 100px;
  }
  to {
    bottom: 200%;
  }
}

@keyframes itemToLeft {
  from {
    right: -120%;
  }

  to {
    right: 0%;
  }
}

@keyframes itemsToTop1 {
  from {
    bottom: 0;
  }
  to {
    bottom: var(--top);
  }
}

@keyframes itemsToTop2 {
  from {
    bottom: 105px;
  }
  to {
    bottom: var(--top);
  }
}

@keyframes itemsToTop3 {
  from {
    bottom: 210px;
  }
  to {
    bottom: var(--top);
  }
}

.mob_bottom {
  display: none;

  @media screen and (max-width: 650px) {
    display: block;
  }
}

.desk_anim_block {
  overflow: hidden;
  padding: 0px 20px;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  border-left: 3px solid #262626;
  border-right: 3px solid #262626;
  border-top: 3px solid #262626;

  background: #181818;

  @media screen and (min-width: 1660px) {
    width: 436px;
    height: 580px;
  }

  @media screen and (max-width: 650px) {
    display: none !important;
  }
}
