.roadmap {
  padding: 121px 0 0 0;
  border-top: 1px solid #916b3b;
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  gap: 91px;
  position: relative;
  @media (max-width: 1700px) {
    padding: 121px 0 0 0;
  }
  &::after {
    position: absolute;
    content: "";
    border-radius: 645px;
    background: linear-gradient(0deg, #c18559 0%, #c18559 100%);
    filter: blur(305.5px);
    left: 50%;
    top: -229px;
    transform: translateX(-50%);
    width: 645px;
    height: 350px;
  }
}

.container {
  position: relative;
  z-index: 2;
}
.roadmap_container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 41px;
  position: relative;
  padding-left: 76px;
  @media (max-width: 1280px) {
    padding-left: 38px;
  }
  @media (max-width: 998px) {
    padding-left: 18px;
  }
  @media (max-width: 700px) {
    padding-left: 12px;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background: #e5c787;
    @media (max-width: 1280px) {
      width: 4px;
    }
    @media (max-width: 998px) {
      width: 4px;
    }
  }
}
.roadmap_title {
  color: var(--Gold-Solid-1, var(--White-1, #e5c787));
  // text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 60px */
  text-transform: uppercase;
  span {
    color: white;
  }
}

.roadmap_text {
  // margin-top: 40px;
  color: var(--white-1-ea, var(--White-1, #eaeaea));
  font-family: var(--font-source-sans-3);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28px */
  letter-spacing: 1px;
  max-width: 512px;
  span {
    color: var(--gray-57-e, var(--White-1, #7e7e7e));
  }
}

.roadmap_datapicker {
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  width: 1396px;
  @media (max-width: 1600px) {
    width: 1200px;
  }
  @media (max-width: 1280px) {
    width: calc(100vw - 90px);
  }
  @media (max-width: 998px) {
    width: calc(100vw - 32px);
  }
  height: 508px;
  border-radius: 20px 20px 0px 0px;
  border-top: 3px solid #363636;
  border-right: 3px solid #363636;
  border-left: 3px solid #363636;
  background: rgba(24, 24, 24, 0.58);
  backdrop-filter: blur(5.349999904632568px);
  box-sizing: border-box;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-top: 158px;
  &::before {
    position: absolute;
    content: "";
    width: 247px;
    height: 387px;
    right: -217px;
    border-radius: 387px;
    background: #c19159;
    filter: blur(305.5px);
    bottom: 70px;
    z-index: 1;
  }
  // @media (max-width: 1500px) {
  //   width: 1200px;
  // }
}

.roadmap_article {
  width: 451px;
  min-width: 451px;
  max-width: 451px;
  position: relative;
}

.roadmap_line {
  position: absolute;
  top: 55px;
  left: 0;
}

.roadmap_datapicker_scroll {
  overflow-x: scroll;
}

.roadmap_swiper {
  margin: 0 auto;
  width: 931px;
  justify-content: space-between;
  // position: relative;
  @media (max-width: 1530px) {
    width: 800px;
  }
}

.roadmap_swiper_slide {
  color: var(--White-1, #eaeaea);
  font-family: var(--font-nunito-sans);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 35px */
  letter-spacing: 0.5px;
  cursor: pointer;
}

.roadmap_arr {
  cursor: pointer;
  position: absolute;
  top: 32px;
  // background-color: #363636;
  border-radius: 12px;
  z-index: 22;
}

.roadmap_arr_next {
  right: 74px;
  // background-color: #2a2a2a;
}
.roadmap_arr_prev {
  right: 20px;
  z-index: 1;
  // background-color: #363636;
}

.roadmap_number_conteiner {
  width: 100%;
  max-width: 1251px;
  margin: 0 auto;
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media (max-width: 1530px) {
    max-width: 1000px;
  }
}

.roadmap_number {
  color: #707070;
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}

// .roadmap_line_1 {
//   position: absolute;
//   top: 0;
//   left: 135px;
// }
// .roadmap_line_2 {
//   position: absolute;
//   left: 543px;
//   top: 0;
// }
// .roadmap_line_3 {
//   position: absolute;
//   top: 0;
//   right: 307px;
// }
// .roadmap_coun_1 {
//   position: absolute;
//   top: 52px;
//   right: 457px;
//   z-index: 2;
// }

.roadmap_20 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 42px;
  height: 42px;
  color: var(--White-1, #eaeaea);
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
  background-color: #596c7a;
  border-radius: 100%;
  right: 440px;
  top: -7px;
}

.roadmap_data_item {
  height: 40px;
  border-radius: 5px;
  border-top: 1px solid #465967;
  border-right: 1px solid #465967;
  border-left: 1px solid #465967;
  background: linear-gradient(180deg, #2e3537 0%, rgba(39, 38, 38, 0.5) 100%);
  display: flex;
  align-items: center;
  color: rgba(256, 256, 256, 0.6);
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.8px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
  &_1 {
    width: 382px;
  }
  &_2 {
    width: 382px;
    color: white;
    margin-top: -5px;
    opacity: 1;
  }
  &_3 {
    width: 514px;
    margin-left: 260px;
    margin-top: 20px;
  }
  &_4 {
    width: 414px;
    margin-left: 217px;
    margin-top: 20px;
  }
  &_5 {
    width: 382px;
  }
  &_6 {
    width: 382px;
    margin-bottom: -20px;
  }
  &_7 {
    width: 382px;
    margin-left: 194px;
    margin-top: 20px;
  }
}

.roadmap_data_container_1 {
  margin-top: 88px;
  display: flex;
  margin-left: 179px;
  gap: 63px;
}

.roadmap_data_container_2 {
  display: flex;
  margin-left: 304px;
  gap: 298px;
  margin-top: 20px;
}

.roadmap_article_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 35px */
  letter-spacing: 0.5px;
}

.roadmap_data_container {
  display: flex;
  padding-left: 38px;
  padding-right: 33px;
  justify-content: space-between;
  margin-top: 14px;
  span {
    color: #707070;
    font-family: var(--font-nunito-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: 0.4px;
    text-decoration: none !important;
    text-shadow: none !important;
    border: none !important;
  }
}

.roadmap_text_container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  height: 343px;
}

.roadmap_item {
  border-radius: 5px;
  border-top: 1px solid #465967;
  border-right: 1px solid #465967;
  border-left: 1px solid #465967;
  background: linear-gradient(180deg, #2e3537 0%, rgba(39, 38, 38, 0.5) 100%);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  color: var(--white-1-ea, #eaeaea);
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.8px;
  width: max-content;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  @media (max-width: 1280px) {
    height: 30px;
  }
  &_may {
    &_1 {
      width: 445px;
      top: 0;
      left: 4px;
    }
    &_2 {
      width: 445px;
      left: 4px;
      top: 50px;
      @media (max-width: 1280px) {
        top: 38px;
      }
    }
    &_3 {
      width: 804px;
      left: 4px;
      top: 200px;
      @media (max-width: 1280px) {
        top: 152px;
      }
    }
  }

  &_june {
    &_1 {
      width: 445px;
      top: 0;
      left: 4px;
    }
    &_2 {
      width: 445px;
      left: 4px;
      top: 50px;
      @media (max-width: 1280px) {
        top: 38px;
      }
    }
    &_3 {
      left: 234px;
      width: 515px;
      top: 100px;
      @media (max-width: 1280px) {
        top: 76px;
      }
    }
    &_4 {
      left: 234px;
      width: 515px;
      top: 150px;
      @media (max-width: 1280px) {
        top: 114px;
      }
    }
  }

  &_july {
    &_1 {
      left: 290px;
      width: 605px;
      top: 0;
    }
    &_2 {
      left: 290px;
      width: 605px;
      top: 50px;
      @media (max-width: 1280px) {
        top: 38px;
      }
    }
  }

  &_august {
    &_1 {
      top: 100px;
      width: 445px;
      left: 4px;
      @media (max-width: 1280px) {
        top: 76px;
      }
    }
    &_2 {
      top: 150px;
      width: 640px;
      left: 4px;
      @media (max-width: 1280px) {
        top: 114px;
      }
    }
  }
  &_september {
    &_1 {
      top: 0;
      left: 4px;
      width: 519px;
    }
    &_2 {
      top: 50px;
      left: 4px;
      width: 687px;
      @media (max-width: 1280px) {
        top: 38px;
      }
    }
  }
  &_october {
    &_1 {
      left: 4px;
      width: 444px;
      top: 100px;
      @media (max-width: 1280px) {
        top: 76px;
      }
    }
    &_2 {
      left: 4px;
      width: 444px;
      top: 150px;
      @media (max-width: 1280px) {
        top: 114px;
      }
    }
    &_3 {
      left: 4px;
      width: 444px;
      top: 200px;
      @media (max-width: 1280px) {
        top: 152px;
      }
    }
  }
  &_november {
    &_1 {
      left: 4px;
      top: 0;
      width: 437px;
    }
    &_2 {
      top: 50px;
      width: 305px;
      right: 4px;
      @media (max-width: 1280px) {
        top: 38px;
      }
    }
    &_3 {
      left: 4px;
      top: 100px;
      width: 551px;
      @media (max-width: 1280px) {
        top: 76px;
      }
    }
    &_4 {
      width: 387px;
      right: 4px;
      top: 150px;
      @media (max-width: 1280px) {
        top: 114px;
      }
    }
    &_5 {
      width: 407px;
      right: 4px;
      top: 200px;
      @media (max-width: 1280px) {
        top: 152px;
      }
    }
    &_6 {
      width: 507px;
      left: 4px;
      top: 250px;
      @media (max-width: 1280px) {
        top: 190px;
      }
    }
  }
  &_december {
    &_1 {
      width: 432px;
      top: 0;
      left: 4px;
    }
    &_2 {
      width: 390px;
      right: 4px;
      top: 50px;
      @media (max-width: 1280px) {
        top: 38px;
      }
    }
    &_3 {
      right: 4px;
      top: 100px;
      width: 322px;
      @media (max-width: 1280px) {
        top: 76px;
      }
    }
    &_4 {
      width: 368px;
      right: 4px;
      top: 150px;
      @media (max-width: 1280px) {
        top: 114px;
      }
    }
    &_5 {
      width: 389px;
      right: 4px;
      top: 200px;
      @media (max-width: 1280px) {
        top: 152px;
      }
    }
    &_6 {
      left: 119px;
      top: 250px;
      width: 782px;
      @media (max-width: 1280px) {
        top: 190px;
      }
    }
  }
  &_january {
    &_1 {
      top: 0;
      left: 4px;
      width: 445px;
    }
    &_2 {
      top: 50px;
      left: 4px;
      width: 445px;
      @media (max-width: 1280px) {
        top: 38px;
      }
    }
    &_3 {
      top: 100px;
      left: 4px;
      width: 445px;
      @media (max-width: 1280px) {
        top: 76px;
      }
    }
    &_4 {
      top: 150px;
      left: 4px;
      width: 445px;
      @media (max-width: 1280px) {
        top: 114px;
      }
    }
  }
}
